flask_restplus==0.12.1
numpy==1.15.4
hunspell==0.5.0
CairoSVG==2.4.0
spacy==2.1.8
more_itertools==7.2.0
networkx==2.3
requests==2.22.0
svgutils==0.3.1
matplotlib==3.1.0
nltk==3.4.4
Flask==1.0.2
scipy==1.2.1
Pillow==6.1.0
ana==0.06
scikit_learn==0.21.3
