<!DOCTYPE html>
<html>
<head>
	<title>Text2Scene</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style>
		.container {
			max-width: 1000px;
		}
		.suggest {
			font-weight: bold;
			cursor: pointer;			
		}
		.suggest:hover {color: orange}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h1>Text</h1>
			<form role="form" method='POST' action='/'>
				<div class="form-group">
					<textarea type="text" name="url" class="form-control" id="url-box" placeholder="Enter text..." rows="10" style="max-width: 300px" autofocus required>{{ text if text }}</textarea> 	
				</div>
				<button type="submit" class="btn btn-default">Generate</button>
			</form>
			<br>
			{% if corrections %}
				{% for word in corrections %}
					{% if corrections[word] %}
						<p>Out-of-vocabulary word "{{ word }}". Did you mean
							{% for corr in corrections[word] %}
							<span class="suggest">{{ corr }}</span>
							{% endfor %}
							?
						</p>
					{% else %}
						<p>Out-of-vocabulary word "{{ word }}"</p>
					{% endif %}
				{% endfor %}
			{% endif %}
			<br>
			{% for error in errors %}
			<h4>{{ error }}</h4>
			{% endfor %}
		</div>
		<div class="col-sm-5 col-sm-offset-1">
			{% if imgname %}
			{% if error %}
			<h3>{{ error }}</h3>
			{% else %}
			<h1>Image</h1>
			{% endif %}
			<div id="results">
			<img src="{{ url_for('static', filename=imgname) }}" style="max-width: 300px; max-height: 400px">
			<!-- <img src="{{ imgname }}"> -->
				<!-- 
				<table class="table table-striped" style="max-width: 300px;">
					<thead>
						<tr>
							<th>Word</th>
							<th>Count</th>
						</tr>
					</thead>
					{% for result in results%}
					<tr>
						<td>{{ result[0] }}</td>
						<td>{{ result[1] }}</td>
					</tr>
					{% endfor %}
				</table> -->
			</div>
			{% endif %}
		</div>
		</div>
	</div>

	<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
